.button {
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;

    background-color: var(--background-primary);

}

.icon {
    padding: 12px 12px;
    border-radius: 50%;
    transition: .25s;
    cursor: pointer;

    svg {
        transition: .25s;
        width: 26px;
        height: 26px;
        fill: var(--white-primary);
    }
}

.icon:hover {

    svg {
        fill: var(--orange-secondary);
    }
}

.text {
    width: fit-content;
    padding: 12px 18px;
    border-radius: 6px;
    justify-content: center;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: .25s;
}

.text:hover {
    background-color: var(--white-primary);
    color: var(--black-primary);
}

.active {
    svg {
        fill: var(--orange-primary);
    }
}

.disabled {
    cursor: not-allowed;
}

.default {
    cursor: pointer;
}