@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background-primary: #101010;
    --background-secondary: #202020;
    --text-color: #F9F9F9;

    --orange-primary: #F37A3C;
    --orange-secondary: #E85B21;
    --black-primary: #000000;
    --black-secondary: #101010;
    --white-primary: #FFFFFF;
    --white-secondary: #F9F9F9;

}

*,
::after,
::before {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-primary);
}
*::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background-color: var(--background-secondary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--orange-primary);
    border-radius: 6px;
}

.app {
    font-family: 'Inter';
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--background-primary);
    min-height: 100svh;
    transition: all .25s;
}