.cart_item{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--background-secondary);
    padding: 20px 40px 20px 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 200px;
    .cart_item__container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 10px;
        .cart_item__image{
            width: 100%;
            max-width: 160px;
        }
        .cart_item__content{
            margin-right: auto;
            display: flex;
            flex-direction: column;
            gap: 6px;
            .item_name{
                font-size: 26px;
                color: var(--text-color);
            }
            .item_price{
                font-size: 22px;
                color: var(--text-color);
                span{
                    color: var(--orange-primary);
                }
            }
            .quantity{
                font-size: 16px;
                color: var(--text-color);
            }
        }
        .cart_actions{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: auto;
        }
        .button_delete{
            position: absolute;
            top: 0;
            right: -50px;
            bottom: 0;
            background-color: var(--orange-primary);
            border: none;
            font-size: 24px;
            border-radius: 4px 0 0 4px;
            transition: .25s;
            color: var(--text-color);
            padding: 0 6px;
            cursor: pointer;
        }
        .button_delete:hover{
            background-color: var(--orange-secondary);
        }
    }
}
.cart_item:hover{
    .button_delete{
        right: 0;
    }
}

@media (max-width: 768px) {
    .cart_item{
        height: auto;
        padding: 10px 10px 10px 10px;
        .cart_item__container{
            flex-direction: column;
            .cart_item__image{
                max-width: 360px;
            }
            .cart_item__content{
                .item_name{
                    font-size: 18px;
                }
                .item_price{
                    font-size: 14px;

                }
                .quantity{
                    font-size: 12px;
                }
            }
            .cart_actions{
                margin: 0 0;
            }
            .button_delete{
                position: static;
                width: 100%;
                border-radius: 4px;
                right: 0;
            }
        }
    }
}