.favorites {
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    
    .favorites_wrapper {
        width: 100%;
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        
        .favorites_title {
            margin-right: auto;
            font-size: 36px;
            color: var(--text-color);
        }

        .favorites_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }
}
@media (max-width: 768px) {
    .favorites{
        padding: 10px 10px;
        .favorites_wrapper{
            row-gap: 10px;
        }
    }
}